h1 {
	font-family: 'Verdana', sans-serif;
	font-weight: normal;
	font-size: 50px;
	color: white;
	
}

h4 {
	font-family: 'Verdana', sans-serif;
	font-weight: normal;
	font-size: 16px;
	color: aquamarine
}

body {
	background-color: black;
	text-align: center;
}

a {
	color: aquamarine;
}

